doctype html
html
  head
    title Pony Up: NFL Playoff Predictor

    //- Meta -//
    meta(charset='utf-8')
    meta(name='description', content='Pony Up: NFL Playoff Predictor')
    meta(name="viewport",content="width=device-width, initial-scale=1")

    //- Stylesheets -//
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')

    //- Icons -//
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")

    //- Favicon
    //link(rel="shortcut icon" href="/images/favicon.ico")

    // Fonts
    //link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Abril+Fatface|Oswald")

    // JS
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    script(type="text/javascript", src="/javascripts/utilities.js")

    // GA
    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55515602-1', 'auto');
      ga('send', 'pageview');


  body

    nav.navbar.navbar-colored(role="navigation")

        .container-fluid
            .navbar-header
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#navbar-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.white(href='/lobby') Pony Up Picks

                .navbar-left
                    div NFL Season: Week #{WEEK_OF_SEASON}

            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/lobby") Lobby
                    li
                        - var klass = (in_picking_window) ? '' : 'disabled'
                        button(
                            href="/picker",
                            class="#{klass} flat-button sign-in-button navbar-btn tooltipper",
                            data-toggle="tooltip",
                            data-container="body",
                            title="The Pony Up picking window is open from Tuesday, 9am PST to Thursday, 12pm PST.", data-placement="bottom",
                            onclick="window.location = '/picker';"
                        ) Make Picks


                if !user
                    form.navbar-form.navbar-right(role="sign-in", method="GET", action="/api/sign_in")
                        - var error_klass = (error && error == "sign-in") ? "error-input" : ""
                        div.form-group
                            input(class="#{error_klass} form-control left" type="text", maxlength="40", name="email", placeholder="Email", required)
                        div.form-group
                            input(class="#{error_klass} form-control right" type="password", maxlength="40", name="password", placeholder="Password", style='width:100px;' required)
                        button.flat-button.sign-in-button(type="submit") Sign In
                else
                    .navbar-right
                        h4.hidden-xs #{user.fullName()}
                            a.logout(onclick="logout()" href="#") Logout
                        a.visible-xs.pull-right.logout(onclick="logout()" href="#") Logout

    .container
        block content

    script(type="text/javascript").

        var WEEK_OF_SEASON = !{JSON.stringify(week_of_season)},
            WEEKS_REMAINING = !{JSON.stringify(WEEKS_REMAINING)};

        $(function() {
            $(".tooltipper").tooltip();
            $(".popover").popover({
                trigger: "hover",
            });

            /* Local Storage Test */
            try {
              localStorage.test = 2;     
            } catch (e) {
                alert("Pony Up is incompatible with private browsing, as we use cookies to store your session information. Please open Pony Up in regular browsing or use a different browser.");
            }
        })

        function logout() {
            localStorage.clear();
            window.location = "/logout";
        };

