extends layout


block content

	.col-md-10.col-md-offset-1
		h1 The Lobby
		
		if user
			.row-fluid.bordered 
				.col-md-12
					h3 Your Picks:
						button.flat-button.pull-right(name='toggle-picks', style="margin-top:10px;") Show All Weeks

					table#my-picks-table.picks-table.table.table-bordered.table-open(data-pid="#{user.id}")
						th Week
						each heading, i in pick_ordering
							th=heading

						tbody
							each pick, i in picks
								- var klass = (i == picks.length - 1) ? 'this-week-picks' : 'hidden'
								tr(class="#{klass} weekly-picks-container" data-week="#{pick.week}")
									td=pick.week

									each team, j in pick.formatted_picks
										td(title="#{team.name}")
											img.dashboard-team-thumbnail.team-logo-hover(src="#{team.logo_path}")

							- var start_week = (picks.length > 0) ? picks[picks.length - 1]['week'] + 1 : WEEK_OF_SEASON;
							- for (var j = start_week; j <= 17; j++) { 
								tr.hidden.weekly-picks-container
									td #{j}

									if in_picking_window && j == picks.length + 1 && picks.length < WEEK_OF_SEASON
										td.align-center.bold(colspan="#{pick_ordering.length}")
											a(href='/picker?lid=#{lid}') Make your picks for next week!
									else
										- for (var k = 0; k < pick_ordering.length; k++) {
											td 
										- }
							- }



		h3 Active Leagues
		p Join a league from the list below (some will require a password), or 
			a.flat-button(href="/create") Create a Game

		if !user
			p
				span.highlight Almost there! If you're already a Pony Up member, sign in at the top right. 

		if leagues.length == 0
			p No active leagues at the moment...
		table#lobby-table.table.table-hover
			th
			th League Title
			th Members
			th 

			tbody
				each league,i in leagues
					tr(name='league-row', data-lid='#{league.id}')
						td #{i+1}
						td=league.title
						td #{league.players.join(", ")}
						- var btn_klass = (league.password) ? '' : 'btn-lighter'
						td(name='join-cell', data-lid='#{league.id}', data-private="#{league.password != null}") 
							button(class="flat-button #{btn_klass}", name="join-button") Join &nbsp;
								if league.password
									i.fa.fa-lock
								else
									i.fa.fa-unlock



	script(type="text/javascript").
		var selections = localStorage.getItem("selections");
		console.log('Selections::',JSON.parse(selections))

		var my_leagues = !{JSON.stringify(my_leagues)},
			my_weekly_picks = !{JSON.stringify(my_weekly_picks)},
			has_picked = !{JSON.stringify(has_picked)},
			leagues = !{JSON.stringify(leagues)},
			picks = !{JSON.stringify(picks)},
			teams = !{JSON.stringify(teams)};

		var user = !{JSON.stringify(user)};

		var picks_expanded = false;

		$(function() {
			// 
			updateButtons();
			// 
			$(document).on("click", "button[name='join-button']", function(e) {
				if ($(this).parent().data("private"))
					openJoin(e)
				else {
					var $cell = $(this).parent()
					joinGame($(this), $cell.data("lid"), null);
				}
			});

			$("button[name='toggle-picks']").on("click", togglePicks);

			// TODO: what if user gets here without making selections??

		});

		function togglePicks(e) {
			
			$("#my-picks-table").find("tr.weekly-picks-container").not(".this-week-picks").toggleClass("hidden")
			
			if (picks_expanded)
				$(this).text("Show All Weeks")
			else
				$(this).text("Hide All Week")
			
			picks_expanded = !picks_expanded;
		};

		// Handler - button click
		function openJoin(e) {
			var $btn = $(e.currentTarget),
				$cell = $(e.currentTarget).parent();

			if ($btn.data("opened"))
				return joinGame($btn, $cell.data('lid'), $cell.find('input').val());

			$btn
				.data("opened",true)
				.before("<input class='form-control-override inline' type='text' maxlength='24' placeholder='Password' />");
		};

		// Hanlder - button click that hits the api and attempts to join game
		function joinGame($btn, league_id, pw_input) {

			// Time password (if applicable) 
			if (pw_input) {
				pw_input = pw_input.trim();
				if (pw_input.length == 0)
					return $btn.fadeOut(125).fadeIn(125);
			}

			// Update btn text
			$btn.addClass("disabled").text("Working...");

			// ** If during onboarding, will have no user object to join */
			$.post('/api/join_league', { league_id: league_id, password: pw_input }, function(res) {
				console.log("Res:",res);
				if (res.success) {
					// If user exists, go to dashboard
					if (user) {
						window.location = "/dashboard/" + league_id;
					// Else, set local storage and go to sign up
					} else {
						localStorage.setItem("league", league_id);
						window.location = "/sign_up";
					}

				} else {
					$btn.parent().find("input").addClass("error-input");
					$btn.text("Join").removeClass("disabled");
				}
			}, 'json');
		};

		function updateButtons() {
			var league_ids = _.pluck(my_leagues, 'id');

			$("tr[name='league-row']").each(function() {
				// Update buttons if already a member
				if (league_ids.indexOf($(this).data("lid")) != -1) {

					var $cell = $(this).find("td[name='join-cell']"),
						lid = $(this).data("lid");
					$cell
						.empty()
						.append("<a class='flat-button dashboard-button button-inverted' href='/dashboard/" + lid + "'>View League</a>")
				}
			});
		};

