extends layout

block content

	if !user
		.row-fluid
			.col-md-12.module
				.marketing-container(style="background-color: #f8f8f8; min-height: 225px; border-radius: 2px; padding: 12px 24px;")
					//h2.align-center Pony Up Picks: NFL Playoff Prediction Contest
					div.align-center
						img(src="/images/logo.png", style='max-width: 100%;')
					h3.align-center NFL Playoff Prediction Contest - Beat your friends, win money
					p
						b The Rules: 
						| Pick the winner of each division, and the two wildcard teams each week. The more unlikely your pick is to win (at the time of your pick), the more points you get if they do. 
					p
						b The Reason: 
						| Winner gets $100, bragging rights, and the title of Pony Up Champion.
	.row-fluid
		.col-md-10.col-md-offset-1.module.picker-container
			each division,i in Object.keys(teams)

				//- Only show the first division for now
				- var klass = (i > 0) ? "hidden" : ""
				.division-container(class="#{klass}")

					.row
						.col-md-8
							h3 Make your Week #{WEEK_OF_SEASON} picks for the #{division}
							h4.guidance-text Step 1 of 4: Pick one winner of each division
							div
								span.highlight After your make your picks, you'll have the chance to join a League and create your account.
							div
								span.highlight
									b If you're already a Pony Up Member, please sign in (in the navbar) before making your picks. 
							p#error-container.error

						.col-md-4
							if !odds_up_to_date
								.offset-container
									.heading Note: 
									.red Please note that you are viewing outdated odds. Odds for Week #{WEEK_OF_SEASON} will be set by Tuesday, 9am PST.



					each sub_division in Object.keys(teams[division])
						h3=sub_division
						.row-fluid
							each team in teams[division][sub_division]
								.col-md-3.col-sm-6
									.team-pick-with-logo-container(
											name="#{team.short_name}",
											data-division="#{division}",
											data-sub_division="#{sub_division}",
											data-previous_division="#{(previous_picks) ? previous_picks.division_winners.indexOf(team.short_name) > -1 : 'false'}",
											data-previous_wc="#{(previous_picks) ? previous_picks.wildcard_winners.indexOf(team.short_name) > -1 : 'false'}"
										)
										p.bolder &mdash; #{team.long_name} &mdash;
										img(src='#{team.logo_path}')

										if team.wins > 0 || team.losses > 0
											.team-record Record: 
												b=team.record

										if team.odds_available
											.display-odds(data-which="division") Win Division: #{team.division_odds_display} = 
												if team.division_odds < 1
													b #{team.division_odds.toFixed(2)} pts
												else
													b #{Math.round(team.division_odds)} pts
											.display-odds.hidden(data-which="wildcard") Win Wildcard: #{team.wc_odds_display} = 
												if team.wc_odds < 1
													b #{team.wc_odds.toFixed(2)}
												else
													b #{Math.round(team.wc_odds)} pts
											//-if team.wc_winner
												.crest-container
													.wc-winner-crest.crest(title="Currently holding a Wilcard spot.") WC
											//-if team.division_winner
												.crest-container
													.division-winner-crest.crest(title="Currently leading the division.")
														span.glyphicon.glyphicon-star


			.button-container
				button.pull-right.flat-button.blue-button(name='next') Next (1/4)


	script(type="text/javascript", src="/javascripts/picker.js")
	script(type="text/javascript").
		var teams = 	!{JSON.stringify(teams)},
			user = 		!{JSON.stringify(user)},
			lid = 		!{JSON.stringify(lid)},
			in_picking_window = !{JSON.stringify(in_picking_window)},
			odds_up_to_date = !{JSON.stringify(odds_up_to_date)};

		var previous_picks = !{JSON.stringify(previous_picks)}





